<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p>Chào <span th:text="${currentUser.userName}" style="color: #2b6cb0"></span></p>
    <h2>Danh sách bài thi</h2>
    <p th:text="${errMsg}" style="color: red"></p>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exam : ${exams.content}">
            <td th:text="${exam.id}"></td>
            <td th:text="${exam.title}"></td>
            <td th:text="${exam.description}"></td>
            <td>
                <a th:href="@{/play/exam/{examId}(examId=${exam.id})}">Vào thi</a>
            </td>
        </tr>
        <tr th:if="${exams.content.size() == 0}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có bài thi nào</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${exams.content.size() > 0}">
        <a th:if="${exams.hasPrevious()}"
           th:href="@{/exams(page=${exams.number - 1}, size=${exams.size})}" class="pagination">Prev</a>
        <a th:each="pageNum : ${#numbers.sequence(0, exams.totalPages -1)}"
           th:text="${pageNum +1}"
           th:href="@{/exams(page=${pageNum}, size=${exams.size})}"
           th:styleappend="${pageNum == exams.number} ? 'background-color:red' : ''"
           class="pagination"
        ></a>
        <a th:if="${exams.hasNext()}"
           th:href="@{/exams(page=${exams.number + 1}, size=${exams.size})}" class="pagination">Next</a>
    </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
