<form th:action="@{/home/bookings}" th:object="${booking}" method="post">
    <input type="hidden" th:field="*{roomId}" />
    <input type="hidden" name="customerId" value="1" />

    <p>Phòng: <span th:text="${room.roomName}"></span></p>
    <p>Loại phòng: <span th:text="${room.roomType}"></span></p>
    <p>Giá/Ngày: <span th:text="${room.price}"></span></p>

    <label>Ngày nhận phòng:</label>
    <input type="date" th:field="*{checkIn}" required/><br/>

    <label>Ngày trả phòng:</label>
    <input type="date" th:field="*{checkOut}" required/><br/>

    <button type="submit">Xác nhận đặt</button>
</form>
