<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page!</title>
</head>
<body>
<h1>Please Login!</h1>
<h3 th:if="${err}" th:text="${err}" style="color: red"></h3>

<form th:action="@{/auth/login}" th:object="${dtoLogin}" method="post">
    <table>
        <tr>
            <td>Email: </td>
            <td><input type="email" th:field="*{email}"/><br>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" th:field="*{password}"/><br>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a th:href="@{/auth/register}">Register</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" th:value="Login"/>
                <input type="reset" th:value="Cancel"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>