<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List rooms page!</title>
</head>
<body>
<h1>LIST ROOMS!</h1>
<h3 th:text="${err}" style="color: red"></h3>
<h3 th:text="${message}" style="color: green"></h3>

<table border="1">
  <tr>
    <td>Image</td>
    <th>Room id</th>
    <th>Room name</th>
    <th>Room type</th>
    <th>Status</th>
    <th>isDelete</th>
    <th>Price</th>
    <th>Update</th>
    <th>Delete</th>
    <th>Change Status</th>
  </tr>
  <tr th:each="r:${rooms}">
    <td>
      <img th:src="${r.image}" alt="Not image" width="100" height="100">
    </td>
    <td th:text="${r.id}"></td>
    <td th:text="${r.roomName}"></td>
    <td th:text="${r.roomType}"></td>
    <td th:text="${r.status}"></td>
    <td th:text="${r.getDelete()?'Hoạt động':'Không hoạt động'}"></td>
    <td th:text="${#numbers.formatInteger(r.price,0)}"></td>
    <td>
      <a th:href="@{/rooms/update/{id}(id=${r.id})}">update</a>
    </td>
    <td>
      <a th:href="@{/rooms/delete/{id}(id=${r.id})}" onclick="return confirm('Delete???')">delete</a>
    </td>
    <td>
      <a th:href="@{/rooms/changeStatus/{id}(id=${r.id})}" onclick="return confirm('Change???')">Change status</a>
    </td>
  </tr>
</table>
<a th:href="@{/rooms/add}">Add Room</a>
</body>
</html>