<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <p th:text="${errMsg}" style="color: red"></p>
    <h2>Danh sách bệnh nhân</h2>

    <div class="add-btn">
        <a th:href="@{/patientController/add}">Thêm bệnh nhân</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Thông tin liên lạc</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.fullName}"></td>
            <td th:text="${#temporals.format(patient.dob, 'dd/MM/yyyy')}"></td>
            <td th:text="${patient.contact}"></td>
            <td th:text="${patient.phone}"></td>
            <td th:text="${patient.status ? 'Chưa khám' : 'Đã khám'}"></td>
            <td>
                <a th:href="@{/patientController/edit/{id}(id=${patient.id})}">Edit</a>
                <a th:href="@{/patientController/delete/{id}(id=${patient.id})}"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa bệnh nhân này không?')"
                >Delete</a>
                <a th:href="@{/patientController/change-status/{id}(id=${patient.id})}" style="margin-left: 10px">Change Status</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(patients)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có bệnh nhân nào</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
