<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <h2>Danh sách sản phẩm</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Tổng tiền sản phẩm</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.id}"></td>
            <td th:text="${cartItem.product.productName}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${#numbers.formatDecimal(cartItem.totalPrice, 1, 2)}"></td>
            <td>
                <a th:href="@{/carts/delete/{id}(id=${cartItem.id})}"
                onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?')"
                >Delete</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Tổng tiền</td>
            <td th:text="${#numbers.formatDecimal(total, 1, 2)}"></td>
            <td></td>
        </tr>
        <tr th:if="${#lists.isEmpty(cartItems)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có sản phẩm nào</td>
        </tr>
        </tbody>
    </table>
    <div class="add-btn">
        <a th:href="@{/products}">Quay lại</a>
    </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
