<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <h2>Danh sách danh mục</h2>

    <div class="add-btn">
        <a th:href="@{/categories/add}">Thêm danh mục</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th>Mô tả</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.categoryName}"></td>
            <td th:text="${category.description}"></td>
            <td>
                <a th:href="@{/categories/edit(id=${category.id})}">Edit</a>
                <a th:href="@{/categories/delete(id=${category.id})}">Delete</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(categories)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có danh mục nào</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
