<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <p th:text="${errMsg}" style="color: red"></p>
    <h2>Danh sách sản phẩm</h2>

    <div class="add-btn">
        <a th:href="@{/products/add}">Thêm sản phẩm</a>
        <a th:href="@{/carts}">Xem giỏ hàng</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Stock</th>
            <th>Danh mục</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${#numbers.formatDecimal(product.price, 1, 2)}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.category.categoryName}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}"
                onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?')"
                >Delete</a>
                <a th:href="@{'/carts/add/' + ${product.id}}">Thêm vào giỏ</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(products)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có sản phẩm nào</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
