<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <p th:text="${errMsg}" style="color: red"></p>
    <h2>Danh sách bác sĩ</h2>

    <div class="add-btn">
        <a th:href="@{/doctorController/add}">Thêm bác sĩ</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Chuyên ngành</th>
            <th>Thông tin liên lạc</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.fullName}"></td>
            <td th:text="${doctor.specialization}"></td>
            <td th:text="${doctor.contact}"></td>
            <td th:text="${doctor.phone}"></td>
            <td th:text="${doctor.status ? 'Đang làm' : 'Đã nghỉ'}"></td>
            <td>
                <a th:href="@{/doctorController/edit/{id}(id=${doctor.id})}">Edit</a>
                <a th:href="@{/doctorController/delete/{id}(id=${doctor.id})}"
                onclick="return confirm('Bạn có chắc chắn muốn xóa bệnh bác sĩ không?')"
                >Delete</a>
                <a th:href="@{/doctorController/change-status/{id}(id=${doctor.id})}" style="margin-left: 10px">Change Status</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(doctors)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có bác sĩ nào</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
