<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Manager</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/toast-2.css}">
</head>
<body>
<div class="toast" th:if="${successMsg} or ${errMsg}">
    <p th:if="${successMsg}" th:text="${successMsg}" style="color: green"></p>
    <p th:if="${errMsg}" th:text="${errMsg}" style="color: red"></p>
</div>

<!-- HEADER -->
<div th:replace="fragments/admin-fragments :: header"></div>

<div class="dashboard-layout">
    <!-- SIDEBAR -->
    <div th:replace="fragments/admin-fragments :: sidebar"></div>

    <!-- MAIN CONTENT -->
    <main class="dashboard-content">
        <!-- Title-->
        <div class="page-header">
            <h2>Quản lý học viên</h2>
        </div>

        <!-- Toolbar -->
        <div class="toolbar">
            <select name="sortBy" onchange="sortCourse(this)" class="filter-select">
                <option th:value="@{/admin/students(sortBy = null, searchValue = ${searchValue})}"
                        style="text-align: center"
                        th:selected="${sortBy == null}">
                    ----- Sắp xếp học viên -----
                </option>
                <option th:value="@{/admin/students(sortBy = 'nameASC', searchValue = ${searchValue})}"
                        th:selected="${sortBy == 'nameASC'}">
                    Theo tên học viên tăng dần
                </option>
                <option th:value="@{/admin/students(sortBy = 'nameDESC', searchValue = ${searchValue})}"
                        th:selected="${sortBy == 'nameDESC'}">
                    Theo tên học viên giảm dần
                </option>
                <option th:value="@{/admin/students(sortBy = 'idASC', searchValue = ${searchValue})}"
                        th:selected="${sortBy == 'idASC'}">
                    Theo mã học viên tăng dần
                </option>
                <option th:value="@{/admin/students(sortBy = 'idDESC', searchValue = ${searchValue})}"
                        th:selected="${sortBy == 'idDESC'}">
                    Theo mã học viên giảm dần
                </option>
            </select>

            <form th:action="@{/admin/students(page = ${pageNum})}" method="get" class="search-form">
                <input type="text" name="searchValue" th:value="${searchValue}" placeholder="Tìm kiếm học viên">
                <button type="submit" style="cursor: pointer">Tìm kiếm</button>
            </form>
        </div>

        <!-- Table -->
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên học viên</th>
                    <th>Ngày sinh</th>
                    <th>Email</th>
                    <th>Giới tính</th>
                    <th>Số điện thoại</th>
                    <th>Ngày thêm</th>
                    <th>Trạng thái</th>
                    <th>Hoạt động</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${#temporals.format(student.dob, 'dd/MM/yyyy')}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.sex ? 'Nam' : 'Nữ'}"></td>
                    <td th:text="${student.phone}"></td>
                    <td th:text="${#temporals.format(student.createAt, 'dd/MM/yyyy')}"></td>
                    <td th:text="${student.status ? 'Active' : 'InActive'}"
                        th:classappend="${student.status} ? 'active-status' : 'in-active-status'">
                    </td>
                    <td>
                        <a th:href="@{/admin/change-student-status/{id}(id=${student.id})}"
                           th:text="${student.status ? 'Lock' : 'UnLock'}"
                           class="action"
                           th:classappend="${student.status} ? 'lock-action' : 'unlock-action'">
                        </a>
                    </td>
                </tr>
                <tr th:if="${students.content.size() == 0}">
                    <td colspan="7" style="padding:14px;text-align:center;color:#666;">Không tìm thấy học viên nào</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class="pagination-wrapper" th:if="${students.content.size() > 0}">
            <a th:if="${students.hasPrevious()}"
               th:href="@{/admin/students(page = ${students.number}, size=${students.size}, searchValue=${searchValue}, sortBy = ${sortBy})}"
               th:text="Prev">
            </a>

            <a th:each="pageNum : ${#numbers.sequence(1, students.totalPages)}"
               th:text="${pageNum}"
               th:href="@{/admin/students(page = ${pageNum}, size=${students.size}, searchValue=${searchValue}, sortBy = ${sortBy})}"
               th:classappend="${pageNum == students.number + 1} ? 'active' : ''">
            </a>

            <a th:if="${students.hasNext()}"
               th:href="@{/admin/students(page = ${students.number + 2}, size=${students.size}, searchValue=${searchValue}, sortBy = ${sortBy})}"
               th:text="Next">
            </a>
        </div>
    </main>
</div>

<script th:src="@{/js/toast.js}"></script>
<script>
    function sortCourse(select) {
        window.location.href = select.value;
    }
</script>
</body>
</html>
