* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f7f8fa;
    color: #333;
}

.dashboard-layout {
    display: flex;
    margin-top: 80px;
}

.course-form-container {
    width: 800px;
    height: fit-content;
    margin: 50px auto;
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.course-form-title {
    color: #1a202c;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.course-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.course-form-group {
    display: flex;
    flex-direction: column;
}

.course-form-label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #2d3748;
    font-size: 18px;
}

.course-form-input {
    padding: 10px 12px;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.2s;
}

.course-form-input:focus {
    border-color: #3182ce;
    outline: none;
    box-shadow: 0 0 0 2px rgba(49,130,206,0.2);
}

.course-form-error {
    color: #e53e3e;
    font-size: 14px;
    margin-top: 8px;
}

.course-form-actions {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.course-form-actions a{
    text-decoration: none;
}

.course-form-button {
    background: #3182ce;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.course-form-button:hover {
    background: #2b6cb0;
}


