
main h2 {
    color: #1a202c;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px
}

main nav {
    margin-bottom: 12px;
    text-align: center
}

main nav a {
    color: #2b6cb0;
    margin-right: 30px;
    text-decoration: none;
    font-size: 20px
}