<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Manager</title>
    <link rel="stylesheet" th:href="@{/css/course-add-update.css}">
</head>
<body>
<!-- HEADER -->
<div th:replace="fragments/admin-fragments :: header"></div>

<div class="dashboard-layout">
    <!-- SIDEBAR -->
    <div th:replace="fragments/admin-fragments :: sidebar"></div>

    <!-- MAIN CONTENT -->
    <main class="course-form-container">
        <h2 class="course-form-title">Thêm mới khóa học</h2>

        <p th:text="${errMsg}" class="course-form-error"></p>

        <form th:action="@{/admin/courses/add-course}" th:object="${courseAdd}" method="post" enctype="multipart/form-data" class="course-form">
            <div class="course-form-group">
                <label for="name" class="course-form-label">Tên khóa học:</label>
                <input type="text" th:field="*{name}" id="name" class="course-form-input">
                <p th:errors="*{name}" class="course-form-error"></p>
            </div>

            <div class="course-form-group">
                <label for="duration" class="course-form-label">Thời lượng:</label>
                <input type="text" th:field="*{duration}" id="duration" class="course-form-input">
                <p th:errors="*{duration}" class="course-form-error"></p>
            </div>

            <div class="course-form-group">
                <label for="instructor" class="course-form-label">Giảng viên phụ trách:</label>
                <input type="text" th:field="*{instructor}" id="instructor" class="course-form-input">
                <p th:errors="*{instructor}" class="course-form-error"></p>
            </div>

            <div class="course-form-group">
                <label for="file" class="course-form-label">Hình ảnh:</label>
                <input type="file" th:field="*{file}" id="file" class="course-form-input">
                <p th:errors="*{file}" class="course-form-error"></p>
            </div>

            <div class="course-form-actions">
                <button type="submit" class="course-form-button">Thêm mới</button>
                <a th:href="@{/admin/courses}" class="course-form-button">Quay lại</a>
            </div>
        </form>
    </main>
</div>
</body>
</html>
