<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
  <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
  <p th:text="${successMsg}" style="color: green"></p>
  <h2>Danh sách lịch trình</h2>

  <div class="add-btn">
    <a th:href="@{/schedules/add}">Thêm lịch trình</a>
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Xe bus</th>
      <th>Điểm xuất phát</th>
      <th>Thời gian xuất phát</th>
      <th>Điểm đến</th>
      <th>Thời gian đến</th>
      <th>Giá</th>
      <th>Hình ảnh</th>
      <th>Số ghế còn trống</th>
      <th>Hoạt động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${schedules}">
      <td th:text="${schedule.id}"></td>
      <td th:text="${schedule.bus.licensePlate}"></td>
      <td th:text="${schedule.departure}"></td>
      <td th:text="${schedule.departureTime != null ? #temporals.format(schedule.departureTime, 'dd/MM/yyyy HH:mm:ss') : 'N/A'}"></td>
      <td th:text="${schedule.arrival}"></td>
      <td th:text="${schedule.departureTime != null ? #temporals.format(schedule.departureTime, 'dd/MM/yyyy HH:mm:ss') : 'N/A'}"></td>
      <td th:text="${schedule.price != null ? #numbers.formatDecimal(schedule.price, 1, 2) : '0.00'}"></td>
      <td>
        <img th:src="${schedule.image}" alt="Ảnh xe bus" width="100px">
      </td>
      <td th:text="${schedule.availableSeat}"></td>
      <td>
        <a th:href="@{/schedules/edit/{id}(id=${schedule.id})}">Edit</a>
        <a th:href="@{/schedules/delete/{id}(id=${schedule.id})}">Delete</a>
      </td>
    </tr>
    <tr th:if="${#lists.isEmpty(schedules)}">
      <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có lịch trình nào</td>
    </tr>
    </tbody>
  </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
