<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <h2>Danh sách câu hỏi</h2>
    <p th:text="${errMsg}" style="color: red"></p>
    <div class="add-btn">
        <a th:href="@{/questions/add}">Thêm câu hỏi</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nội dung</th>
            <th style="width: 600px">Chọn đáp án</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.content}"></td>
            <td style="width: 600px">
                <label>
                    <input type="radio" th:value="${question.answerA}" name="answer">
                    A: <span th:text="${question.answerA}"></span>
                </label>
                <label>
                    <input type="radio" th:value="${question.answerB}" name="answer">
                    B: <span th:text="${question.answerB}"></span>
                </label>
                <label>
                    <input type="radio" th:value="${question.answerC}" name="answer">
                    C: <span th:text="${question.answerC}"></span>
                </label>
                <label>
                    <input type="radio" th:value="${question.answerD}" name="answer">
                    D: <span th:text="${question.answerD}"></span>
                </label>
            </td>
            <td>
                <a th:href="@{/questions/edit/{id}(id=${question.id})}">Edit</a>
                <a th:href="@{/questions/delete/{id}(id=${question.id})}"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa câu hỏi hay không?')"
                >Delete</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(questions)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có câu hỏi nào</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
