<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        td {
            vertical-align: top;
        }
    </style>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main style="max-width:1100px;margin:24px auto;padding:0 12px;">
    <h2 style="color:#1a202c;margin-bottom:12px;">Sửa danh mục</h2>
<!--    <p th:text="errMsg" style="color: red"></p>-->

    <form th:action="@{/categoryController/update}" th:object="${category}" method="post">
        <table>
            <tr>
                <td>Mã danh mục:</td>
                <td><input type="text" th:field="*{categoryId}"  readonly>
                </td>
            </tr>
            <tr>
                <td>Tên danh mục:</td>
                <td><input type="text" th:field="*{categoryName}">
                    <p th:errors="*{categoryName}" style="color:red;"></p>
                </td>
            </tr>
            <tr>
                <td>Mô tả:</td>
                <td><input type="text" th:field="*{description}">
                    <p th:errors="*{description}" style="color:red;"></p>
                </td>
            </tr>
        </table>
        <button type="submit">Sửa</button>
    </form>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>