<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!-- Header fragment -->
<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <header>
        <div>
            <h1>My Project</h1>
            <nav>
                <a th:href="@{/users/logout}">Đăng xuất</a>
            </nav>
        </div>
    </header>
</div>

<main th:fragment="content">
    <!-- nội dung trang con sẽ chèn ở đây -->
</main>

<!-- Footer fragment -->
<div th:fragment="footer">
    <footer>
        <div>
            <small>© 2025 - My Project</small>
        </div>
    </footer>
</div>

</body>
</html>
