<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <h2>Bài tập về nhà session 17</h2>
    <nav>
        <a th:href="@{auth/register}">1. Bài tập 1</a>
        <a th:href="@{auth/login}">2. Bài tập 2</a>
        <a th:href="@{/buses/add}">3. Bài tập 3</a>
        <a th:href="@{/buses}">4. Bài tập 4</a>
        <a th:href="@{/schedules/add}">5. Bài tập 5</a>
        <a th:href="@{/schedules}">6. Bài tập 6</a>
        <a th:href="@{/buses}">7. Bài tập 7</a>
        <a th:href="@{/buses}">8. Bài tập 8</a>
        <a th:href="@{/buses}">9. Bài tập 9</a>
        <a th:href="@{/buses}">10. Bài tập 10</a>
    </nav>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
