<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>List Transaction</title>
</head>
<body>
<div class="list-container">
    <h1>Danh sách giao dịch</h1>
    <a th:href="@{/transactionController/add}" class="btn">Thêm giao dịch</a>
    <table>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.type?'Thu':'Chi'}"></td>
            <td>
                <a th:href="@{/transactionController/editPage/{id}(id=${transaction.id})}" class="btn-edit">Sửa</a>
                <a th:href="@{/transactionController/delete/{id}(id=${transaction.id})}" class="btn-delete"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa không?')"
                >Xóa</a>
            </td>
        </tr>
    </table>
    <div th:if="${errorMsg}" class="error">
        <p th:text="${errorMsg}"></p>
    </div>
    <div th:if="${successMsg}" class="success">
        <p th:text="${successMsg}"></p>
    </div>
</div>
</body>
</html>