<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
  <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
  <p th:text="${successMsg}" style="color: green"></p>
  <h2>Danh sách xe bus</h2>

  <div class="add-btn">
    <a th:href="@{/buses/add}">Thêm xe bus</a>
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Biển số xe</th>
      <th>Sức chứa</th>
      <th>Loại chỗ ngồi</th>
      <th>Hoạt động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bus : ${buses}">
      <td th:text="${bus.id}"></td>
      <td th:text="${bus.licensePlate}"></td>
      <td th:text="${bus.capacity}"></td>
      <td th:text="${bus.typeSeat}"></td>
      <td>
        <a th:href="@{/buses/edit/{id}(id=${bus.id})}">Edit</a>
        <a th:href="@{/buses/delete/{id}(id=${bus.id})}">Delete</a>
      </td>
    </tr>
    <tr th:if="${#lists.isEmpty(buses)}">
      <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có xe bus nào</td>
    </tr>
    </tbody>
  </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
