<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments/fragments :: header}"></div>

<main style="max-width:1100px;margin:24px auto;padding:0 12px;">
    <h2 style="color:#1a202c;margin-bottom:12px;">Đăng ký khóa học</h2>
    <p th:text="${errMsg}" style="color: red"></p>

    <form th:action="@{/student/register-course}" method="post">
        <table>
            <tr>
                <td>Chọn khóa học cần đăng ký:</td>
                <td>
                    <select name="courseId">
                        <option selected disabled>--- Chọn khóa học ---</option>
                        <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit">Đăng ký</button>
    </form>
</main>

<!-- Footer -->
<div th:replace="~{fragments/fragments :: footer}"></div>

</body>
</html>