<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
    <link rel="stylesheet" th:href="@{/css/course-list.css}">
</head>
<body>
<div class="toast" th:if="${successMsg} or ${errMsg}">
    <p th:if="${successMsg}" th:text="${successMsg}" style="color: green"></p>
    <p th:if="${errMsg}" th:text="${errMsg}" style="color: red"></p>
</div>

<!-- HEADER -->
<div th:replace="~{fragments/student-fragments :: header}"></div>

<main class="course-page">
    <h2 class="page-title">Danh sách khóa học</h2>

    <!-- Search box -->
    <div class="search-container">
        <form th:action="@{/student/courses(page=${pageNum})}" method="get">
            <input type="text" name="searchValue" th:value="${searchValue}" placeholder="search course by name">
            <button type="submit">Tìm kiếm</button>
        </form>
    </div>

    <!-- Course list -->
    <div class="course-grid">
        <div th:each="course : ${courses}" class="course-card">
            <div class="card-img">
                <img th:if="${course.image != null}" th:src="@{${course.image}}" alt="Course Image">
                <span th:if="${course.image == null}" class="no-img">Không có ảnh</span>
            </div>
            <div class="card-content">
                <h3 th:text="${course.name}"></h3>
                <p class="subtitle">Let's explore</p>
                <p>Duration: <span th:text="${course.duration}"></span> hour</p>
                <p>Instructor: <span th:text="${course.instructor}"></span></p>
                <p class="date" th:text="${#temporals.format(course.createAt, 'dd/MM/yyyy')}"></p>
            </div>
            <div class="card-footer">
                <a class="btn registry" th:href="@{/student/register-course/{id}(id=${course.id})}">Đăng ký</a>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination-container" th:if="${courses.content.size() > 0}">
        <a th:if="${courses.hasPrevious()}"
           th:href="@{/student/courses(page=${courses.number - 1}, size=${courses.size}, searchValue=${searchValue})}">
            &larr;
        </a>
        <a th:each="pageNum : ${#numbers.sequence(0, courses.totalPages - 1)}"
           th:href="@{/student/courses(page=${pageNum}, size=${courses.size}, searchValue=${searchValue})}"
           th:text="${pageNum + 1}"
           th:classappend="${pageNum == courses.number} ? 'active'">
        </a>
        <a th:if="${courses.hasNext()}"
           th:href="@{/student/courses(page=${courses.number + 1}, size=${courses.size}, searchValue=${searchValue})}">
            &rarr;
        </a>
    </div>
</main>
<script th:src="@{/js/toast.js}"></script>
</body>
</html>
