<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        td {
            vertical-align: top;
        }
    </style>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main style="max-width:1100px;margin:24px auto;padding:0 12px;">
    <h2 style="color:#1a202c;margin-bottom:12px;">😀Thêm mới dịch vụ</h2>
    <p th:text="${errMsg}" style="color: red"></p>

    <form th:action="@{/services/add}" th:object="${service}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Tên dịch vụ:</td>
                <td><input type="text" th:field="*{name}">
                    <p th:errors="*{name}" style="color:red;"></p>
                </td>
            </tr>
            <tr>
                <td>Mô tả:</td>
                <td><input type="text" th:field="*{description}">
                    <p th:errors="*{description}" style="color:red;"></p>
                </td>
            </tr>
            <tr>
                <td>Giá:</td>
                <td><input type="text" th:field="*{price}">
                    <p th:errors="*{price}" style="color:red;"></p>
                </td>
            </tr>
            <tr>
                <td>Thời gian:</td>
                <td><input type="text" th:field="*{duration}">
                    <p th:errors="*{duration}" style="color:red;"></p>
                </td>
            </tr>
            <tr>
                <td>Ảnh dịch vụ:</td>
                <td><input type="file" name="file">
                    <p th:text="${errImg}" style="color: red"></p>
                </td>
            </tr>
            <tr>
                <td>Dành cho:</td>
                <td>
                    <select th:field="*{animal}" required>
                        <option value="" disabled selected>-- Chọn thú cưng --</option>
                        <option th:each="animal : ${animals}"
                                th:value="${animal.id}"
                                th:text="${animal.name}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit">Thêm mới</button>
    </form>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>