<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<!-- Kế thừa header/footer từ fragments -->
<body>

<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<main>
    <p th:text="${successMsg}" style="color: green"></p>
    <p th:text="${errMsg}" style="color: red"></p>
    <h2>Danh sách thú cưng</h2>

    <div class="add-btn">
        <a th:href="@{/animals/add}">Thêm thú cưng</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên thú cưng</th>
            <th>Mô tả</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${animals}">
            <td th:text="${animal.id}"></td>
            <td th:text="${animal.name}"></td>
            <td th:text="${animal.description}"></td>
            <td>
                <a th:href="@{/animals/editPage(id=${animal.id})}">Edit</a>
                <a th:href="@{/animals/delete(id=${animal.id})}">Delete</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(animals)}">
            <td colspan="6" style="padding:14px;text-align:center;color:#666;">Chưa có thú cưng nào</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
