<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
</head>
<body>
<div class="toast" th:if="${successMsg} or ${errMsg}">
    <p th:if="${successMsg}" th:text="${successMsg}" style="color: green"></p>
    <p th:if="${errMsg}" th:text="${errMsg}" style="color: red"></p>
</div>

<div class="container">
    <div class="logo">
        <img th:src="@{/images/rikkei-logo.png}" alt="rikkei-logo">
    </div>
    <div class="login-box">
        <div class="left-panel">
            <h2>Đăng nhập</h2>
            <p class="subtitle">Vui lòng đăng nhập để tiếp tục tài khoản của bạn</p>
            <form th:action="@{/users/login}" th:object="${userLogin}" method="post">
                <div class="form-group floating">
                    <input type="text" th:field="*{email}" placeholder="Nhập email">
                    <label>Email</label>
                    <p th:errors="*{email}" style="color:red;"></p>
                </div>
                <div class="form-group floating password-field">
                    <input type="password" th:field="*{password}" placeholder="Nhập mật khẩu">
                    <label>Mật khẩu</label>
                    <span class="toggle-password">
                        <img th:src="@{/images/eye.png}" alt="eye" style="width: 18px">
                    </span>
                </div>
                <p th:errors="*{password}" style="color:red;"></p>
                <div class="form-group remember">
                    <input type="checkbox" name="remember">
                    <label>Nhớ mật khẩu</label>
                </div>
                <button type="submit" class="btn-primary">Đăng nhập</button>
            </form>
            <p class="register-text">Chưa có tài khoản? <a th:href="@{/users/register}">Tạo ngay</a></p>
        </div>
        <div class="right-panel">
            <img th:src="@{/images/login-banner-1.png}" alt="Background-1" class="active">
            <img th:src="@{/images/login-banner-2.png}" alt="Background-2">
            <img th:src="@{/images/login-banner-3.png}" alt="Background-3">
        </div>
    </div>
</div>

<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/toast.js}"></script>
</body>
</html>